* {
    margin: 1px;
    background-color: rgb(107, 107, 107);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    
    color: aliceblue;
    height:65px;
    border-bottom: 5px solid black;
}

aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 1000px;
    

}
main {
    display: flex;
    flex-direction: row;
}
section {
    width: 100%;
}
section h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
    margin: 10px;
}
input {
    margin: 10px;
    width: 200px;
    height: 20px;
    background-color: black;
}


button {
    margin: 10px;
}
.search {
    
    border-bottom: solid 5px black;
}
.topSection {
    border: 3px solid grey;
    border-radius: 12px;
    width: 100%;
    height: 200px;
    box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.75);
    
    
}
.topSection div {
    margin-top: 20px;
    margin-left: 15px;
}

.botSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 15%;
    height: 175px;
    box-shadow: 9px 9px 50px 0px rgba(0,0,0,0.75);

}
.card div {
    margin-top: 10px;
}
